@media (max-width: 1640px){
  .popularity__right{
    padding-left: 15px;
    padding-right: 0;
    background-color: #fff;
  }
}
@media (max-width: 1400px){
  .popularity__wrapper{
    background-size: 750px;
  
  }
}
@media (max-width: 1120px){
  .advantages__inner{
    flex-wrap: wrap;
  }
  .advantages__item{
    width: 50%;
    padding-right: 70px;
  }
}
@media (max-width: 1040px){
  .top__inner-img{
    margin-left: 0;
  }
}
@media (max-width: 1000px){
  .tabs__content{
    max-width: 500px;
    margin: 0 auto;
  }
  .list__inner{
    display: block;
  }
  .tabs__reviews{
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .tabs__content::before,
  .tabs__content::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a4c58c;
    z-index: 1;
  }
  .list__link{
    justify-content: center;
  }
  .list__link a{
    padding: 22px 36px 22px 75px;
    min-width: 430px;
  }
  .list__link a::after{
    right: 85px;
  }
  .tabs__reviews::after,
  .tabs__reviews::before{
    content:'';
    position: absolutle;
    background-color: #fff;
    width: 100%;
    height: 20px;
    bottom: -20px;
    z-index: 2;
  }
  .tabs__reviews::after{
    left: 100%;
  }
  .tabs__reviews::before{
    right: 100%;
  }
  .tab span {
    margin-left: 25px;
  }
  .list__inner{
    padding-bottom: 20px;
  }
  .tabs__reviews-link{
    left: 158px;
  }
  .tabs__content::before{
    right: 100%;
  }
  .tabs__content::after{
    left: 100%;
  }
}
@media (max-width: 940px){
  .top__inner-form{
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .advantages__inner{
    padding-top: 100px;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text{
    width: 280px;
    margin-right: 100px;
  }
  .top__inner-suptitle{
    margin-top: 25px;
  }
  .top__inner-title{
    line-height: 50px;
    font-size: 50px;
  }

  .top__inner-text{
    margin-bottom: 50px;
  }
}
@media (max-width: 768px){
  .header__text{
    font-size: 14px;
  }
  .advantages__inner{
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 50px;
  }
  .advantages__item{
    padding-right: 60px;
  }
  .advantages{
    margin-bottom: 100px;
  }
  .list__title{
    padding-top: 0;
    text-align: center;
    font-size: 30px;
    max-width: 375px;
    line-height: 40px;
    margin: 0 auto 30px;
  }
}
@media (max-width: 760px){
 .top__inner-img img{
   width: 200px;
 }
 .advantages__inner{
  padding-top: 180px;
  padding-left:0;
  padding-right: 0;

}
.advantages__inner{
  padding-right: 30px;
}

}

@media (max-width: 700px){
.header__text{
    display: none;
  }
}
@media (max-width: 640px){
  .top__inner-form{
    left:15px;
  }
  .mobile_link-btn{
    display: block;
    width: 100%;
    text-align: center;
    padding:22px 15px;
  }
  .top-form{
    display: none;
  }
  .top__inner{
    flex-direction: column;
    align-items: center;
  }
  .top__inner-img{
    order: 1;
  }
  .top__inner-img img {
    width: 150px;
  }
 
  .top__inner-text{
    display: none;
  }
  .top__inner-form{
    position: static;
    align-items: center;
    text-align: center;
  }
  .top__inner-suptitle,
  .top__inner-title {
    width: 100%;
    margin-right: 0;
  }
  .advantages__inner{
    padding-top: 10px;
  
  }

}
@media (max-width: 600px){
  .top__inner-img img {
    width: 85px;
  }
  .advantages__inner{
    padding-top: 120px;
    align-items: center;
  }
  .advantages__item{
    width: 100%;
}
  .tabs__box{
    flex-direction: column;
  }
  .tabs__box .tab:first-child,
  .tabs__box .tab:nth-child(3) {
    border-right: none;
    padding-right: 0;
  }
.tabs__box .tab:last-child, 
.tabs__box .tab:nth-child(2) {
  padding-left: 0;
  }
  .tabs__box  .tab{
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
  }
  .tab-order-0{
    order: 0;
  }
  .tab-order-1{
    order: 1;
  }
  .tab-order-2{
    order: 2;
  }
  .tab-order-3{
    order: 3;
    border-bottom: none;
  }
  .tabs__reviews{
    position: static;
    margin: 0;
  }
  .tab.active{
    display: none;
  }
}
@media (max-width: 550px){
  .tabs__content{
    height: 150px;
    background-image: none;
  }
  .tabs__content::after,
  .tabs__content::before{
    display: none;
  }
  .tab-item:first-child{
    display: none;
  }
  
}
@media (max-width: 480px){
  .header__phone{
    font-size: 14px;
    font-weight: 600;
  }
  .header__phone a::before,
  .header__phone-text{
    display: none;
  }
  .header__logo img{
    width: 110px;
  }
  .list__title{
    font-size: 24px;
    line-height: 30px;

  }
  .tab{
    font-size: 12px;
    padding: 24px 0px 24px 0;
  }
  .tab-item{
    display: none;
  }
  .tab-item{
    display: none;
  }
  .tab-item:first-child{
    display: none;
  }
  .tabs__reviews{
    padding: 0;
  }
  .tabs__reviews-text{
    font-size: 14px;
  }
  .tabs__reviews-inner{
    padding: 30px 8px;
    width: 80%;
  }
  .tabs{
    padding-right: 0;
  }
  .tabs__reviews-link{
    left: 86px;
    bottom: 8px;
  }
}
@media (max-width: 360px){
 
  .top{
    max-height: 375px;
  }
  .top__inner-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .top__inner-suptitle{
    margin-top: 0px;
    font-size: 12px;
  }
  .advantages__inner{
    padding-top: 200px;
   
  }
  .advantages__item{
    margin-bottom: 40px;
  }
  .advantages__item:last-child{
    margin-bottom: 0;
  }
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .tabs__reviews-link{
    left: 86px;
    bottom: 8px;
  }
  .tabs__reviews-inner{
    padding: 30px 8px;
    width: 70%;
  }
  .tabs__reviews-link{
    left: 86px;
    bottom: 6px;
  }
  .mobile_link-btn::after,
  .list__link a::after{
    display: none;
  }
  .list__link a{
    padding:22px 10px;
    text-align: center;
  }
}